In [7]:
import pandas as pd
import os
from helper import *

In [9]:
kod_file = pd.read_excel(os.getcwd() + r'\seker\seker_kod.xlsx')
label_file = pd.read_excel(os.getcwd() + r'\seker\seker_label.xlsx')

kod_file.set_index(keys=kod_file.columns[0], drop=True, inplace=True)
label_file.set_index(keys=label_file.columns[0], drop=True, inplace=True)

# Loading the questions

* create a data frame for mezahe sheela and shem sheela
* handle the duplicate (semi-open) questions

In [10]:
# create df of shem sheela and mezahe sheela.
q_names = kod_file.columns.tolist()
q_mezahe = kod_file.iloc[0]
questions = list(zip(q_names, q_mezahe))
questions_df = pd.DataFrame(questions, columns=['shem_sheela','mezahe_sheela'])
questions_df = questions_df[questions_df['mezahe_sheela'].isnull() == False]
questions_df.set_index(keys=questions_df.columns[1], drop=False, inplace=True)

In [11]:
kod_df = kod_file[questions_df['shem_sheela']]
kod_df.columns = kod_df.iloc[0].tolist()
kod_df.drop(index=kod_df.index[0], inplace=True)

label_df = label_file[questions_df['shem_sheela']]
label_df.columns = label_df.iloc[0].tolist()
label_df.drop(index=label_df.index[0], inplace=True)

In [12]:
cols = questions_df.index.tolist()
semi_open = []
for i in range(1,len(cols)):
    cols[i] = str(cols[i])
    if cols[i] == cols[i-1]:
        cols[i] = cols[i] + '_dup'
        semi_open.append(cols[i-1])

questions_df.index = cols
for dup in semi_open:
    to_drp = dup + '_dup'
    questions_df.drop(index=to_drp, inplace=True)

In [13]:
kod_df = handle_semi_open(kod_df)
label_df = handle_semi_open(label_df)

data = pd.merge(kod_df, label_df, on=kod_df.index, how='inner', suffixes=('_kod', '_label'))
data.set_index(keys=data.columns[1], drop=False, inplace=True)

In [25]:
frames = []
for q in questions_df.index.to_list():
    df = data[['key_0', str(q) + '_kod', str(q) + '_label']]
    df['mezahe_sheela'] = q
    df.columns = ['mezahe_reshuma', 'kod_tshuva', 'shem_tshuva', 'mezahe_sheela']
    frames.append(df)

result = pd.concat(frames)
result.set_index(keys=['mezahe_reshuma', 'mezahe_sheela'], drop=False, inplace=True)
result

,,mezahe_reshuma,kod_tshuva,shem_tshuva,mezahe_sheela
mezahe_reshuma,mezahe_sheela,,,,
123456.0,2.3,123456.0,2,השאר,2.3
222222.0,2.3,222222.0,1,קצינים,2.3
333333.0,2.3,333333.0,1,קצינים,2.3
123456.0,3.4,123456.0,5,במידה רבה מאוד,3.4
222222.0,3.4,222222.0,4,במידה רבה,3.4
333333.0,3.4,333333.0,3,במידה בינונית,3.4
123456.0,4.4,123456.0,3,במידה בינונית,4.4
222222.0,4.4,222222.0,2,במידה מועטה,4.4
333333.0,4.4,333333.0,1,בכלל לא,4.4
123456.0,13.37,123456.0,"(4.0, הייתי מנסה ללמוד יותר בבית)","(אחר, פרט\י:, הייתי מנסה ללמוד יותר בבית)",13.37
222222.0,13.37,222222.0,"(2.0, nan)","(קורא ספרים, nan)",13.37
333333.0,13.37,333333.0,"(3.0, nan)","(אין מה לעשות, nan)",13.37
123456.0,14.39,123456.0,יש מלא דברים,יש מלא דברים,14.39
222222.0,14.39,222222.0,שולחנות לא נקיים,שולחנות לא נקיים,14.39
333333.0,14.39,333333.0,רצפה מלוכלכת,רצפה מלוכלכת,14.39
123456.0,22.53.1,123456.0,1,כן,22.53.1
222222.0,22.53.1,222222.0,0,לא,22.53.1
333333.0,22.53.1,333333.0,0,לא,22.53.1
123456.0,22.53.2,123456.0,0,לא,22.53.2
222222.0,22.53.2,222222.0,1,כן,22.53.2
333333.0,22.53.2,333333.0,0,לא,22.53.2
123456.0,22.53.3,123456.0,1,כן,22.53.3
222222.0,22.53.3,222222.0,1,כן,22.53.3
333333.0,22.53.3,333333.0,0,לא,22.53.3